.DS_Store
.devenv/
.direnv/
.local/

rails/.bundle/
rails/coverage/
rails/db/*.sqlite3*
rails/.env.local
rails/log/*
rails/tmp/*
rails/storage/*
!rails/log/.keep
!rails/tmp/.keep
!rails/storage/.keep
rails/config/master.key
rails/.kamal/secrets

android/.gradle/
android/local.properties
android/**/build/
android/captures/
